<link rel="stylesheet" href="/css/navbar.css">

<nav class="nav-box">
    <div id="nav-main">
        <div id="nav-main-bar">
            <div class="nav-icon">
                <a href="/listings"><img class="airbnb_img" src="/icon/airbnb_img.png" alt="airbnb_Icon"><img /></a>
            </div>

            <div class="nav-search nav-search-search">
                <form class="d-flex needs-validation" role="search" action="/listings/search" method="get"
                    id="searchBox">
                    <input type="search" placeholder="Search" aria-label="Search" name="q" id="mySearchInput">
                    <button type="submit" id="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>

            <div class="create-listing">
                <a href="/listings/new">Airbn your home</a>
            </div>


            <div class="nav-user">
                <div>
                    <img src="/icon/nav_icon.png" id="png-img-bar">
                    <img src="/icon/female.jpg" alt="User" id="png-img-user">
                </div>
            </div>

            <div class="main_section" style="display: none;">
                <a href="/profiles">Profile</a>
                <!-- <a href="/listings/new">Airbn your home</a> -->
                <% if(!currUser){%>
                    <a href="/signup">Sign up</a>
                    <a href="/login">Login</a>
                    <% } %>
                        <% if(currUser){%>
                            <a href="/logout">LogOut</a>
                            <% } %>
            </div>
        </div>
    </div>

    <!-- <div id="nav-search-hide">
        <div class="nav-search nav-hover">
            <form class="d-flex needs-validation" role="search" action="/listings/search" method="get" id="searchBox">
                <input type="search" placeholder="Search" aria-label="Search" name="q" id="mySearchInput">
                <button type="submit" id="search"><i class="fa-solid fa-magnifying-glass"></i></i></button>
            </form>
        </div>
    </div>
    </div> -->
</nav>



<script src="/js/navbar.js"></script>