/* show.ejs style------------------------------------------------------------------------ */
@media (max-width: 769px) {

    .show-body {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        /* min-width: 420px; */
        /* width: 100% !important; */
        margin: none;
        padding: none;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 95%;
    }

    .show-body>div {
        width: 100% !important;
        margin: 0.1rem;
        padding: 0.8rem;
    }

}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body>p {
    margin-bottom: 0.6rem;
}

.card-title,
.card-text {
    display: inline !important;
}

.card-title {
    width: 6rem;
    margin-right: 10px;
}

h3 {
    font-weight: 700;
}